*{
    margin: 0px;
    padding: 0px;
}


.nav-bar{
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(84, 84, 208);
}

.nav-bar h1{
    display: inline;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 5px white  ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-card{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background-color: rgb(176, 210, 109);
}

.contact-card img{
    background-color: white;
    border-radius: 1130px;
    width: 40%;
    padding: 5px;
}

h2, p{
    text-transform: capitalize;
    text-align: center;
}